# =========================
# SERVER_MODE (development or production)
# =========================
SERVER_MODE=development

# =========================
# Server Ports
# =========================
PORT=5000
REDIRECT_PORT=8080

# =========================
# SSL Certificate Filenames (development only)
# =========================
CERT_KEY=server.key
CERT_CRT=server.crt

# =========================
# CORS Settings (Change in production)
# =========================
CORS_ORIGIN=https://localhost:5173

# =========================
# Session Configuration (Change in production)
# =========================
SESSION_SECRET=your-session-secret-here

# =========================
# Redis Configuration (Change in production)
# =========================
USE_REDIS_MOCK=false
REDIS_HOST=your-redis-host
REDIS_PORT=12345
REDIS_USERNAME=default
REDIS_PASSWORD=your-redis-password

# =========================
# Database Configuration (Change in production)
# =========================
MONGO_DB_URI=mongodb+srv://username:password@host/dbname
MONGO_DB_NAME=SecurityBankPortalDB