# This is an example environment configuration file for the server.
# Copy this file into .env and modify the values as needed.
# Do NOT commit your .env file to the GitHub please as it contains sensitive information!

# =========================
# SERVER CONFIGURATION
# =========================
SERVER_MODE=development     # MODES: development or production
IS_HOSTED_ENV=false            # True if hosted, false if local

# =========================
# Server Ports
# =========================
PORT=5000                   # Port for the server
REDIRECT_PORT=8080          # Port for HTTP to HTTPS redirection (local only)

# =========================
# SSL Certificate Filenames (local only)
# =========================
CERT_KEY=server.key
CERT_CRT=server.crt

# =========================
# CORS Settings
# =========================
CORS_ORIGIN=https://localhost:5173    # Default client URL for local development

# =========================
# Session Configuration
# =========================
SESSION_SECRET=this-is-a-very-mega-super-session-secret-right-here  # [Example value] Use a strong, unique secret

# =========================
# Redis Configuration [Example values]
# =========================
USE_REDIS_MOCK=false            # Use mock Redis for testing or in case of connection issues
REDIS_HOST=the-redis-host
REDIS_PORT=12345
REDIS_USERNAME=default
REDIS_PASSWORD=the-redis-user-password

# =========================
# Database Configuration [Example values]
# =========================
MONGO_DB_URI=mongodb+srv://username:password@host/dbname
MONGO_DB_NAME=SecurityBankPortalDB