/* Auth page styles */

/* Page component root styles - this MUST expand inside contentContainer */
.page {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formArea {
  width: 100%; /* Fixed width to prevent horizontal growth */
  min-height: 100%; /* Optional: set a min-height for stability */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* Prevent overflow during animation */
}
