/* Auth page styles */

/* Page component root styles - this MUST expand inside contentContainer */
.page {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formStack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
